form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  div {
    width: 60%;
    display: flex;
    position: relative;

    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      padding: 2rem;
      border: none;
      border-radius: 10px;
      width: 100%;
      font-size: 2.2rem;
      outline: none;
      font-weight: thin;

      &::placeholder {
        color: #b3b3b3;
      }
    }
  }
}
